<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
  crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <title>About Us</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index') }}">Main Page</a>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('inspiration') }}">Inspiration</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('countryData') }}">Country Data</a>
          </li>
        
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('addCountry') }}">Add Country</a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('deleteCountry') }}">Delete Country</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('aboutUs') }}">API Documentation</a>
        </li>
        </ul>
        </nav>
        <div class="container">
            <div class="jumbotron">
        <h1>API Documentation</h1>
              </div>
              <h3>List countries</h3>
              <p>GET /countries - list all countries with data</p>
              <p>GET /countries/country_name - list country with the name specified</p>
              <p>POST /countries - list all countries with data</p>
              <p> PUT /countries - list all countries with data</p>
            <br/>

            <h3>Optional Parameter</h3>
            <p> country_name (string) the Country name used to specify a single country</p>

            <h3>Example Usage</h3>
            <p>GET /countries</p>
            <p>GET /countries/Australia</p>
            <p>POST /countries</p>
            <p>PUT /countries</p>
            <br/>
              <h3>Errors</h3>
              <p>DoesNotExit - Country matching query does not exist</p>

              <p>GET countries/Ozzy</p>

              </div>
  </body>
  
</html>