<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index') }}">Main Page</a>
            </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('inspiration') }}">Inspiration</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('countryData') }}">Country Data</a>
          </li>
        
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('addCountry') }}">Add Country</a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('deleteCountry') }}">Delete Country</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('aboutUs') }}">About Us</a>
        </li>
        </ul>
        </nav>
        <div class="container">
            <div class="jumbotron">
  <form action="#" method="POST">
    <h2>Delete Country:</h2>
    <p><input type="text" name="countryName"/></p>
    <p><input type="submit" value="Delete Country"/></p>
  </form>
  </div>
  </div>
</body>
<script>

    $(function(){
     
    
    $.get('/countries', function(){
        console.log('successfully retrieved the country data')
    }).fail(function(){
        console.log('failed to retrieve the country data')
    }).always(function(){
        console.log('end of process')
    });
    });
    
    
    
    </script>
</html>