<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
  crossorigin="anonymous">
  <title>Inspiration</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index') }}">Main Page</a>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('inspiration') }}">Inspiration</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('countryData') }}">Country Data</a>
          </li>
        
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('addCountry') }}">Add Country</a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('deleteCountry') }}">Delete Country</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('aboutUs') }}">API Documentation</a>
        </li>
        </ul>
        </nav>
        <div class="container">
            <div class="jumbotron">
    <h1>{{ name }}'s Inspirational Insights</h1>

    <h2>Dunedin Orthodontics</h2>
       <p><a href="http://dunedinorthodontics.co.nz/">Dunedin Orthodontist</a></p> 

       <p>Some of the positive aspects that I can draw inspiration from this website I the use of the banner which covers mostly the top and centre half of the page. 
         It captures my attention to the centre of the webpage and the company name</p>
        <p>Font size used to describe certain services that the company provided is also very appealing. It is not too small and easily readable. </p>

      <h2>Stuidorate</h2>
        <p><a href="https://studiorotate.com/">Studio Rotate</a></p>

        <p>I enjoy the simplicity of this website with only 3 colour schemes being used: White, Black and Grey. 
          The usage of space for this simplistic web design is very well thought out where links, Page Title and banners are centre placed drawing the user’s 
          eye to the centre page rather than having a huge cluster</p>
        <p>What I would like to see changed though is a better use of font colour in the “Black” background section of the website because some words are hardly visible to the user.
           They wouldn’t even know if they needed to scroll down to see further information or see some provided links.</p>

          <h2>Mahno</h2>
        <p><a href="https://mahno.com.ua/en">Mahno</a></p>

        <p>This is a good example of minimalistic word usage. I love the use of banners which cover the homepage, images and videos
           rather than reading a lot of text in this website</p>

        <p>The website uses up plenty of its white spaces to accommodate the use of images and videos. 
          The only page which contains the most amount of written text is the News section of the page.</p>

          <p>This website uses only 2 colour schemes: white and black. 
            While other colours are only drawn in using banners and other images. 
            This keeps a simplistic design to the website which I enjoy. </p>
    </div>
    </div>
</body>
</html>